
<div class="container">
    <div class="card">
  
      <img src="" alt="Property Image">
      <ng-container>
  
        <h4>Property Details</h4>
      
        <p><i class="icon-environment"></i></p>
      
        <p><i class="icon-home"></i> Bedrooms: 4, Bathrooms: 2</p>
      
        <p>Max Guests: 8</p>
      
        <p>Daily Rate: $150</p>
      
        <hr>
      
        <h4>Amenities</h4>
      
        <div class="amenities">
          <div class="amenity"><p> 'Swimming Pool', 'Gym', 'WiFi', 'Parking</p></div>
        </div>
      
        <hr>
      
        <button type="button" >Reserve</button>
      
        <br><br>
        <a routerLink="/">Go back to Home</a>
      </ng-container>
      
    </div>
  </div>
  